{% extends 'layout.html' %}
{% block content %}
    <h1>Circle Calculator</h1>

    <form method="post">
        <input type="text" name="radius" placeholder="Please enter the radius" required="required" />

        <label for="operation">Choose Calculation</label>
        <select id="operation" name="operation">
            <option value="perimeter">Perimeter</option>
            <option value="area">Area</option>
        </select>

        <button type="submit">Calculate</button>
    </form>

    <br>

    {{ result }}
{% endblock %}
